*{
  box-sizing: border-box;
}
a{cursor: pointer;}
body{color: black;}
image{max-width: 100%;}
main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display: flex;
  gap: 24px;
}
div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
div.post div.texts h2{
  font-size: 1.5rem;
  margin: 0;
}
div.post div.texts a{
  text-decoration: none;
  color: inherit;
}
div.post p.info{
  margin: 24px 0;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author{
  color: #000;
}
div.post p.summary{
  margin: 10px 0;

}
@media screen and (min-width:700px) {
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.image{
  width: 500px; 
  height: 400px;
}
div.post-page div.image{
  max-height: 500px;
  width: 1000px;
  height: 500px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time{
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #000;
  margin: 10px 0;
}
div.post-page div.author{
  text-align: center;
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
}
form.login, form.register {
  max-width: 100px;
  margin: 0 auto;
}
input{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: auto;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: rgb(0, 0, 0);
  border: 0;
  color: #ffffff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
  
}
form.post-page div.content{
  text-align: center;
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
}
form.title{
  width: 100%;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #000;
  gap: 5px;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}
a svg {
  height: 20px;
}

div.delete-row{
  margin-bottom: 20px;
}
div.post-page button.delete-btn{
  background-color: #000;
  gap: 5px;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  max-width: 100px; /* ปรับความยาวของปุ่มตามที่คุณต้องการ */
  overflow: hidden; /* ลดการแสดงข้อความที่เกินขอบของปุ่ม */
  margin: auto; /* จัดตำแหน่งตรงกลาง */
}

div.post-page button.delete-btn svg {
  height: 20px;
}